## For loop

A "for loop" is a fundamental control structure in programming that allows you to repeatedly execute a block of code for a specific number of iterations or over a sequence of items. It is used to automate repetitive tasks and is available in most programming languages, including Python.

In [1]:
l = [1,2,3,4,"Tejal" ,"Londhe" , 45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
Tejal
Londhe
45.56

In [3]:
for i in l :
    pass

In [5]:
s = "Tejal"
for i in s :
    print(i)

T
e
j
a
l

In [6]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
Tejal
Londhe
45.56
if for loop is going to complete itself the it will execute else

In [7]:
l

[1, 2, 3, 4, 'Tejal', 'Londhe', 45.56]

In [8]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [9]:
s = "Tejal"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

T
e
j
a
l
print srtring  Tejal

In [10]:
t = (4,5,6,7,8,6,"Tejal")
for i in t :
    print(i)

4
5
6
7
8
6
Tejal

In [11]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"Tejal"}

In [12]:
type(b)

set

In [13]:
b

{4, 5, 6, 7, 8, 'Tejal'}

In [14]:
for i in b :
    print(i)

4
5
6
7
8
Tejal

In [15]:
d = {'key1' :"Tejal" , 'contact' : "tejal@india.ai" , "position" : "xyz"}

In [16]:
for i in d :
    print(i ,":" ,  d[i] )

key1 : Tejal
contact : tejal@india.ai
position : xyz

In [17]:
d['key1']

'Tejal'

In [18]:
range(9)

range(0, 9)

In [19]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [21]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [23]:
list(range(0,9 , -1))

[]

In [24]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
n = 4 
for i in range(4) :
    for j in range(0 ,i+1) : 
        print("Tejal" , end = "     ")
    print("\n")

Tejal

Tejal     Tejal

Tejal     Tejal     Tejal

Tejal     Tejal     Tejal     Tejal

In [26]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("Tejal"),end=" ")
    for j in range(i+1):
        print("Tejal",end=" ")
    for j in range(i): 
        print("Tejal",end=" ")
    print()

            Tejal
      Tejal Tejal Tejal
Tejal Tejal Tejal Tejal Tejal

In [27]:
n=4
k=n
for i in range(n):
    k=k-1
    print('  '*k, end='')
    for j in range(i+1):
        print('Tejal ', end= '')
    print()

      Tejal
    Tejal Tejal
  Tejal Tejal Tejal
Tejal Tejal Tejal Tejal

In [28]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print("",end=' ')
    for j in range(i+1):
        print("Tejal",end=' ')
    print()

  Tejal
 Tejal Tejal
Tejal Tejal Tejal

In [29]:
n = 3

for i in range(n+1):
    print(' '*(n-i) + 'Tejal '*i)

  Tejal
 Tejal Tejal
Tejal Tejal Tejal

In [30]:
list(range(0))

[]

In [31]:
t = (3,23,45,67,2,4,5,6)

In [32]:
t[0]

3

In [33]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [34]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [35]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [36]:
s = "ineuron"
for i in range(len(s)) : 
    print(i , s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [37]:
s

'ineuron'

In [38]:
for i in range(len(s)-1 , -1, -1):
    print(i , s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [39]:
d

{'key1': 'Tejal', 'contact': 'tejal@india.ai', 'position': 'xyz'}

In [40]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key1', 'Tejal') <class 'tuple'> <class 'str'>
('contact', 'tejal@india.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [41]:
l = ["Tejal" , "Londhe" , 3234545 , "tejal@india.ai" , 345, 34345353]
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [42]:
l1

[3234545, 345, 34345353]

In [44]:
 d = {1: 3345345  , "name" : "Tejal" , "email_id" : "tejal@india.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [45]:
for i in d :
    if type(i) == int :
        print(i , ":"  , d[i])

1 : 3345345
234 : 3454

In [46]:
s = "aaaabbccd"

In [47]:
for i in set(s):
    print(i  , ":" , s.count(i))

d : 1
c : 2
a : 4
b : 2

In [48]:
s.count('a')

4

In [49]:
i = 34534654646435
for j in str(i) :
    print(int(j ), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [50]:
str(i)

'34534654646435'

In [52]:
t = ("Tejal" , "Londhe" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"Londhe"})

In [53]:
t=("Tejal","Londhe",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"Tejal","key2":"Londhe"})

In [54]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [55]:
d = {4:5 , "key1" : "Tejal" , "key2" : "Londhe"}

In [56]:
d.items()

dict_items([(4, 5), ('key1', 'Tejal'), ('key2', 'Londhe')])

In [57]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'Tejal')
('key2', 'Londhe')

In [58]:
d.items()

dict_items([(4, 5), ('key1', 'Tejal'), ('key2', 'Londhe')])

In [59]:
a = 10 
b = 20
c = 30

In [60]:
a , b , c = 10 , 20 , 30

In [61]:
a,b,c = (10,20,30)

In [62]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
kjshdf

In [65]:
s="aaaabbccd"
d = {}
for i in set(s) : 
    d[i] =  s.count(i)

In [66]:
d

{'d': 1, 'c': 2, 'a': 4, 'b': 2}

In [67]:
l = list(range(6,-1,-1))
s = 'ineuron'
t = (l,s)

t

([6, 5, 4, 3, 2, 1, 0], 'ineuron')

In [69]:
d

{'d': 1, 'c': 2, 'a': 4, 'b': 2}

In [70]:
d.items()

dict_items([('d', 1), ('c', 2), ('a', 4), ('b', 2)])

In [73]:
i = j = [3]
i = [3] + [3]
print(i,j)

[3, 3] [3]

In [74]:
set = {"python", "coding", "tips", "for", "beginners"}
print(set)
' '.join(set)

{'python', 'beginners', 'coding', 'for', 'tips'}

'python beginners coding for tips'

In [75]:
tuple = ("python", "coding", "tips", "for", "beginners")
print(tuple)
' '.join(tuple)

('python', 'coding', 'tips', 'for', 'beginners')

'python coding tips for beginners'

In [76]:
print(dict(("py", "th", "on")))

{'p': 'y', 't': 'h', 'o': 'n'}

In [77]:
x, y = (0,1) if True else None , None
print(x)

(0, 1)

In [78]:
i = j = [3]
i += j
print(i,j)

[3, 3] [3, 3]

In [79]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):    
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [80]:
s = {1,1,1,11,1,1,4,4,4,4}

In [81]:
f = frozenset((1,2,2,3,34,4,4,4,4))

In [82]:
s.add(3)

In [83]:
for i in range(4) :
    for j in range (0 , i+1) :
        print("Ram" , end = "*")
    print()

Ram*
Ram*Ram*
Ram*Ram*Ram*
Ram*Ram*Ram*Ram*

In [84]:
l= [(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
l1 = []

In [85]:
for i in l :
    if type(i) == list or type( i )== tuple :
        for j in i :
            l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for m in k :
                l1.append(m)

In [86]:
l1

[2, 4, 5, 5, 6, 'k1', 'v1', 'k2', 'v2']

In [88]:
t = ("Tejal" , "Londhe" , [1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2":"Londhe"})
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict : 
        for k,v  in i.items():
            if k == 3 or v == 3 :
                    print(k)
                    print(v)

3
3
3

In [89]:
a = "Tejal"

if "3" in a:
    print("yes")
else:
    print("No")

No

In [92]:
n = 4
for i in range(4) :
    for j in range(0,i+1) :
        print("Ram" , end =" ")
    print("\n")

Ram

Ram Ram

Ram Ram Ram

Ram Ram Ram Ram

In [93]:
n=3
for i in range (n):
    for j in range(i,n-1):
        print("" *len("sudh"),end= " ")
    for j in range (i+1):
        print("Ram",end=" " )
    for j in range(i):
        print("Ram",end= " ")
    print()

  Ram
 Ram Ram Ram
Ram Ram Ram Ram Ram

In [94]:
for i in t :
    if type(i) == list or type (i) == tuple :
        for j in i :
            if j ==3 :
                print(j)
    if type(i) ==dict :
            for k,v in i . items():
                if k == 3 or v == 3:
                    print(k)   
                    print(v)

3
3
3